.heart-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid #000;
    padding: 1px 4px;
    background-color: #000;
    &:hover {
        background-color: #595a59;
        color: #fff;
    }
    .heart-icon {
        width: 100%;
        height: 100%;
    }
}