.card-skeleton {
    position: relative;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    .skeleton-image {
        border-radius: 10px;
    }
}

