.cinema-card {
    position: relative;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        box-shadow: 6px 5px 20px 10px rgb(10 10 10 / 20%);
        margin-top: -20px;
    }

    .image {
        width: 180px;
        height: 250px;
        border-radius: 10px;
    }
}