.card-container {
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 20px;
    font-size: 24px;
    flex-direction: column;
    .no-data-image {
        width: 400px;
        height: 400px;
        border-radius: 30px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
            margin-top: -5px;
        }
    }
}